.play-screen{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  *::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  &__others{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__user{
    margin-top: -1rem;
    height: 100%;
  }

  &--personal{

    &.play-screen{
      &--two-player, &--three-player{

        .play-screen__user{
          height: calc(100vh - 22.5rem);
        }

      }

      &--four-player{

        .play-screen__user{
          height: calc(100vh - 38rem);
        }

      }

      &--six-player, &--five-player{

        .play-screen__user{
          height: calc(100vh - 44.5rem);
        }

        .play-screen__others{

          .life-card{
            min-height: 10rem;

            &__total-count{
              font-size: 2.4rem;
            }

          }

        }

      }
    }

  }

  &--multi{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.35fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "top top top top top top" "mid mid mid mid mid mid" "bot bot bot bot bot bot";

    .top { grid-area: top; height: 100%; display: flex; }

    .mid { grid-area: mid; height: 100%; }

    .bot { grid-area: bot; height: 100%; display: flex; }

    .menu-bar{
      width: 100vw;
      justify-content: space-around;
      margin: 0;

      .play-control{
        height: auto;
        width: auto;
      }

      &__item{
        width: 100%;
      }

    }

    .life-card{
      height: calc(100% - 2rem);
      margin: 1rem;
    }

  }

}
