<nav class="play-nav">
  <div class="play-nav__group play-nav__personal">
    <a href="t2-p-2.html" class="play-nav__item">2 player</a>
    <a href="t2-p-3.html" class="play-nav__item">3 player</a>
    <a href="t2-p-4.html" class="play-nav__item">4 player</a>
    <a href="t2-p-5.html" class="play-nav__item">5 player</a>
    <a href="t2-p-6.html" class="play-nav__item">6 player</a>
  </div>
  <div class="play-nav__group play-nav__scoreboard">
    <a href="t2-s-2.html" class="play-nav__item">2 player</a>
    <a href="t2-s-3.html" class="play-nav__item">3 player</a>
    <a href="t2-s-4.html" class="play-nav__item">4 player</a>
    <a href="t2-s-5.html" class="play-nav__item">5 player</a>
    <a href="t2-s-6.html" class="play-nav__item">6 player</a>
  </div>
</nav>
